
<div class="main">
    <div class="heading">
           <h1>Weather Report</h1>
    </div>
    <div class="container" id="cont">
        <form [formGroup]="myForm" (ngSubmit)="formSubmit()">
            <label for="city">Enter city name:</label><br>
            <input type="text" id="city" formControlName="city" required>
            <div id="error" *ngIf="myForm?.get('city')?.invalid && myForm?.get('city')?.touched">City name is required.</div> <br>
            <button type="submit" (click)="moveContainer()" [disabled]="!myForm.valid">Submit</button>
        </form>
        <div *ngIf="weatherData" class="weather-data">
            <h2>Weather in {{ weatherData.name }}</h2>
            <p>Temperature: {{ weatherData.main.temp }}°C</p>
            <p>Weather: {{ weatherData.weather[0].description }}</p>
            <p>Humidity: {{ weatherData.main.humidity }}%</p>
          </div>
      
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
    </div>    

</div>

<router-outlet />
